/*폰트*/

/*G마켓산스*/
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 
font-family: 'GmarketSans';
font-family: 'GmarketSansBold;
font-family: 'GmarketSansMedium';
font-family: 'GmarketSansLight'; 
*/